{% extends 'folders/base.html' %}

{% block title %}
Мичуринский Проспект
{% endblock %}

{% block content %}
    <h1>О Станции</h1>
    <p>«Мичу́ринский проспе́кт» — станция Московского метрополитена на юго-западном участке Большой кольцевой линии. Связана пересадкой с одноимённой станцией на Солнцевской линии. Расположена в районе Раменки (ЗАО), вдоль улицы Удальцова у её пересечения с Мичуринским проспектом, по которому и получила своё название. Открытие станции состоялось 7 декабря 2021 года в составе участка «Мнёвники» — «Каховская».</p>
{% endblock %}
